# Dependencies
node_modules/

# Build output
dist/
build/

# Angular cache
.angular/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db